.header {
   padding: 0 20px;

   @media(min-width: 700px) {
      padding: 0 25%;
   }

   @media(min-width: 1200px) {
      padding: 0 35%;
   }

   .header__logo {
      display: block;
      width: 100%;
      max-width: 750px;
      margin: -20% auto;

      @media(min-width: 700px) {
         margin: -90px auto;
      }
   }
}